:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #2474e5;
    --border-color: #a1a8b1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* <=> 10px*/
    line-height: 1.2rem;
    /* 12px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    width: 1200px;
    margin: 0 auto;
}
.logo {
    cursor: pointer;
}
.sub-menu.open {
    display: block;
}

.user {
    position: relative;
}

.user i {
    font-size: 16px;
    cursor: pointer;
}

.sub-menu {
    position: absolute;
    top: 180%;
    right: 0;
    font-size: 14px;
    line-height: 1.5;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 300;
    z-index: 3;
    box-shadow: 1px 1px 5px 5px var(--border-color);
    display: none;
}

.sub-item {
    min-width: 178px;
    display: block !important;
    height: 40px;
    text-align: left;
    line-height: 40px;
}

.icon-contain {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
}

.sub-item a:hover {
    color: var(--primary-color) !important;
    cursor: pointer;
}

.sub-item > a {
    line-height: 40px !important;
}
.scroll-up {
    position: fixed;
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    bottom: 16px;
    right: 16px;
    display: none;
}

.scroll-up:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0 var(--border-color);
}

.scroll-up .scroll-up-contain {
    font-size: 16px;
    text-align: center;

}
@keyframes phai-trai{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}